{
	"require": [
		"ts-node/register"
	],
	"extension": [
		".ts"
	],
	"include": [
		"src/**/*.ts"
	],
	"exclude": [
		"src/**/__*__/*.ts"
	],
	"reporter": [
		"text","lcov"
	],
	"report-dir": "./coverage/Node",
	"temp-dir": ".cover",
	"cache": true,
	"all": true,
	"sourceMap": true,
	"instrument": true
}
